.App {
  height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: Arial, Helvetica, poppins;
}

.App-header {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  color: #e0354b;
  border-bottom: 3px solid #e0354b;
}

.App-header img {
  height: 200px;
  width: 200px;
}

h1 {
  font-size: 2.5rem;
}


.App-body {
  color:black;
  position: absolute;
  font-size: 1.1rem;
  padding: 2rem;
  margin-top: 20rem;
}

.App-footer {
  position: absolute;
  color:black;
  margin-top: 59rem;
  margin-left: 30rem;
  font-style: italic;
  font-size: 1.1rem;
}

.App-header::after {
  content: "";
  position: absolute;
  top: 34rem;
  width: 99%;
  border-top: 3px solid #e0354b;
}